html{
    scroll-behavior: smooth;
}

#search {
  font-size: large;
  margin-right: 10px;
  width: 200px;
}
.menu_class {
  text-align: center;
}
body {
  background-color: black;
  
}
textarea{
  background-color: black;
  color: rgb(190, 187, 187);
  width: 200px;
  font-size: large;
}
h1,
h2,
h3,
h4 {
  color: rgb(190, 187, 187);
}
p {
  color: rgb(190, 187, 187);
  font-size: large;
}
a {
  color: rgb(5, 134, 167);
}
input {
  background-color: black;
  border-color: gainsboro;
  color: gainsboro;
  border-radius: 6px;
  height: 23px;
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: rgb(255,0,0,0.4);
  color: rgb(255,255,255,0.4);
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#scrollTopBtn:hover {
  background-color: rgb(85,85,85,0.4);
}

/*#content{
    text-align: center;
    
}*/

/*.partial-window {
    text-decoration: underline;
    height: 0px;
    visibility: collapse;
    cursor: pointer;
    transition: ease 0.5s;
  }
  .window-full {
    height: 100%;
    transition: ease 2s;
    
  }*/
