#search {
    font-size: large;
    margin-right: 10px;
    width: 200px;

}
.menu_class{
    margin-left: 125px;
}
body{
    background-color: black;
}
h1,h2,h3,p{
   color: rgb(190, 187, 187); 
}
a{
    color: rgb(5, 134, 167);
}
input{
    
    background-color: black;
    border-color: gainsboro;
    color: gainsboro;
    border-radius: 6px;
    height: 23px;
}
/*#content{
    text-align: center;
    
}*/

/*.partial-window {
    text-decoration: underline;
    height: 0px;
    visibility: collapse;
    cursor: pointer;
    transition: ease 0.5s;
  }
  .window-full {
    height: 100%;
    transition: ease 2s;
    
  }*/