#search {
    font-size: large;
    margin-right: 10px;
    width: 200px;

}
.menu_class{
    margin-left: 125px;
}

/*#content{
    text-align: center;
    
}*/

.hierarchic_class{
    text-decoration: underline;
}